<?xml version="1.0" encoding="utf-8"?>
<ods version="0.2">
  <import name="BagFactory" type="entityFactory" class="org.openstreetmap.josm.plugins.ods.bag.BagEntityFactory"/>
  <!-- TODO use csw to retreive data about hosts and services -->
  <host name="bagviewer" type="WFS" url="http://geodata.nationaalgeoregister.nl/bagviewer/wfs">
    <meta url="http://nationaalgeoregister.nl/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecords&amp;constraintLanguage=CQL_TEXT&amp;constraint_language_version=1.1.0&amp;namespace=xmlns%28csw=http://www.opengis.net/cat/csw%29&amp;resultType=results&amp;constraint=Title+EQ+%27%25Tijdelijke%20BAG%20WFS%25%27&amp;elementSetName=full">
      <property name="bag.source.date" query="csw|SearchResults csw|Record dc|date" type="date" pattern="yyyy-MM-dd"/>
    </meta>

    <!--<meta url="http://www.nationaalgeoregister.nl/geonetwork/srv/dut/xml.metadata.get?uuid=6a2c1dec-2d50-4500-bdda-b133a1ca4722">
      <property name="bag.source.date" query="gmd|dateStamp gco|Date" type="date" pattern="yyyy-MM-dd"/>
    </meta>-->
    <!--<meta url="http://www.nationaalgeoregister.nl/geonetwork/srv/dut/xml_iso19139?id=453880">
      <property name="bag.source.date" query="srv|extent gml|end gml|timePosition" type="date" pattern="yyyy-MM-dd"/>
    </meta>-->
  </host>
  <layer name="BAG Panden">
    <factory name="BagFactory"/>
    <datasource host="bagviewer" feature="pand" entitytype="building">
      <filter>status NEQ 'Niet gerealiseerd' AND status NEQ 'Bouwvergunning verleend'</filter>
      <id attribute="identificatie"/>
    </datasource>
    <datasource host="bagviewer" feature="verblijfsobject" entitytype="address">
      <filter>status EQ 'Verblijfsobject in gebruik' OR status EQ 'Verblijfsobject in gebruik (niet ingemeten)'</filter> 
      <id attribute="identificatie"/>
    </datasource>
    <datasource host="bagviewer" feature="ligplaats" entitytype="houseboat">
      <filter>status EQ 'Ligplaats aangewezen'</filter> 
      <id attribute="identificatie"/>
    </datasource>
    <datasource host="bagviewer" feature="standplaats" entitytype="static_caravan">
      <filter>status EQ 'Standplaats aangewezen'</filter> 
      <id attribute="identificatie"/>
    </datasource>
    <!--<datasource host="bagviewer" feature="woonplaats" entitytype="city">
      <filter>status EQ 'Woonplaats aangewezen'</filter>
    </datasource>-->
    <!--<osm_query><![CDATA[
      (relation({{bbox}})["building"];
      way({{bbox}})["building"];);
      (._;<;);
      (._;>;)
     ]]>
    </osm_query>-->
    <!--<action name="nearestWay" type="nearestWay"/>-->
  </layer>
  <!--<layer name="BAG Woonplaatsen">
    <datasource host="bagviewer" feature="woonplaats"/>
    <osm_query><![CDATA[
      (relation({{bbox}})[boundary=administrative][admin_level=10];);
      (._;<;);(._;>;)
      ]]>
    </osm_query>
  </layer>-->
</ods>
